<!DOCTYPE html>
<html lang="pl">

    <head>

        <title>{% block title %}NewMe - Nowy rok. Nowy ty!{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {% block stylesheets %}
            <!-- STYLE GŁÓWNE CSS -->
            <link href="{{ asset('css/css-index.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('css/css-index-green.css') }}" rel="stylesheet" media="screen">

            <!-- STYLE DODATKOWE (3rd party) -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('fonts/icon-7-stroke/css/pe-icon-7-stroke.css') }}" rel="stylesheet">
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('css/owl.theme.css') }}" rel="stylesheet">
            <link href="{{ asset('css/owl.carousel.css') }}" rel="stylesheet">
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- CZNIONKA - Lato (Google Fonts) -->
        <link rel="stylesheet"
              href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic"/>

    </head>

    <!-- data-spy - śledź pozycje na stronie (dynamiczne pokazywanie zawartości) -->
    <body data-spy="scroll" data-target="#navbar-scroll">

    <!-- Preloader (znaczek ładowania)  -->
    <div id="preloader"></div>
    <div id="top"></div>

    <!-- Parallax (przesuwanie obrazu w tle) -->
    <div class="fullscreen landing parallax" style="background-image:url({{ asset('images/bg.jpg') }});" data-img-width="2000"
         data-img-height="1333" data-diff="100">

        <div class="overlay">
            <div class="container">

                <!-- Logo i opis -->
                <div class="col-md-7">

                    <!-- Logo -->
                    <div class="logo wow fadeInDown"><a href=""><img src="{{ asset('images/logo.png') }}" alt="logo"></a></div>

                    <!-- Nagłówek -->
                    <h1 class="wow fadeInLeft">
                        Nowy rok, nowy ty!
                    </h1>

                    <!-- Opis strony -->
                    <div class="landing-text wow fadeInUp">
                        <p>Trudnośc w wytrwaniu w postanowaneniach noworocznych wynika między innymi z faktu, że nikt nie
                            czuwa nad tym czy w nich wytrwamy, a samemu trudno zmotywować się do ich ukończenia. W tym roku
                            będzie inaczej! Załóż konto, zapisz swoje postanowiania i regularnie loguj się by uzupełniać
                            swoje postępy. Przeglądaj statystyki i monitoruj swoje postępy. Zacznij swoją przemiane już dziś
                            z serwisem new.me. </p>
                    </div>

                </div>

                <!-- Formularz logowania/rejestracji -->

                <div class="col-md-5">

                    <div class="signup-header wow fadeInUp">
                        <h3 class="form-title text-center">ZACZNIJ JUŻ DZIŚ!</h3>
                        {% block login %}
                        <form class="form-header" action="#" role="form" method="POST" id="#">
                            <div class="form-group">
                                <input class="form-control input-lg" name="email" id="email" type="email"
                                       placeholder="Twój email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="password" id="password" type="password"
                                       placeholder="Hasło" required>
                            </div>
                            <div class="form-group last">
                                <input type="submit" class="btn btn-warning btn-block btn-lg" value="ZALOGUJ">
                            </div>
                            <p class="privacy text-center">NIE MASZ JESZCZE KONTA? <a href="#">ZAREJESTRUJ SIĘ</a> JUŻ DZIŚ!
                            </p>
                        </form>
                        {% endblock %}
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- MENU -->
    <div id="menu">
        <nav class="navbar-wrapper navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                        <span class="sr-only">Przełącz nawigacje</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand site-name" href="#top"><img src="{{ asset('images/logo2.png') }}" alt="logo"></a>
                </div>

                <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#intro">O stronie</a></li>
                        <li><a href="#feature">Funkcje</a></li>
                        <li><a href="#testi">Opienie</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- OPIS -->
    <div id="intro">
        <div class="container">
            <div class="row">

                <!-- Obraz opisu -->
                <div class="col-md-6 intro-pic wow slideInLeft">
                    <img src="{{ asset('images/intro-image.jpg') }}" alt="image" class="img-responsive">
                </div>

                <!-- Treść opisu -->
                <div class="col-md-6 wow slideInRight">
                    <h2>Pokonaj prokrastynacje!</h2>
                    <p>Nie odkładaj rzeczy na ostatnią chwilę, rozplanuj swoje zadania i nie odkładaj niczego na później. To
                        proste - zaloguj się na swoje konto, stwórz listę i systematycznie uzupełniaj swoje postępy! To nie
                        może być takie proste, ale jest. Sprawdź <a href="#">rejestrując się</a> już dziś!
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- FUNKCJE -->
    <div id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                    <!-- Tytuł -->
                    <h2>Co może zmienić jedna strona?</h2>
                    <p>Dobrze wykorzystana? Wszystko! Żeby nakierować cię w dobrych kierunku oto kilka przykładowych funkcji
                        i sposobów ich wykorzystania dla zwiększonej produktywności.</p>
                </div>
            </div>
            <div class="row row-feat-bottom">
                <div class="col-md-8 col-lg-12">

                    <!-- Cecha 1 -->
                    <div class="col-sm-6 feat-list">
                        <i class="pe-7s-notebook pe-5x pe-va wow fadeInUp animated"
                           style="visibility: visible; animation-name: fadeInUp;"></i>
                        <div class="inner">
                            <h4>Wszystko w jednym miejscu</h4>
                            <p>Możliwość tworzenia wielu list sprawia, że wszystkie swoje postanowienia możesz zebrać pod
                                jednym kontem.
                            </p>
                        </div>
                    </div>

                    <!-- Cecha 2 -->
                    <div class="col-sm-6 feat-list">
                        <i class="pe-7s-cash pe-5x pe-va wow fadeInUp animated" data-wow-delay="0.2s"
                           style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"></i>
                        <div class="inner">
                            <h4>Łatwość obsługi</h4>
                            <p>Prosta strona i nowoczesny design sprawią, że korzystanie ze strony stanie się twoim nowym
                                hobby.</p>
                        </div>
                    </div>

                    <!-- Cecha 3 -->
                    <div class="col-sm-6 feat-list">
                        <i class="pe-7s-cart pe-5x pse-va wow fadeInUp animated" data-wow-delay="0.4s"
                           style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"></i>
                        <div class="inner">
                            <h4>Elastyczność</h4>
                            <p>Logujesz się skąd chcesz, kiedy chcesz. Strona jest dostosowana do telefenów i tabletów.
                                Zawsze przy tobie!</p>
                        </div>
                    </div>

                    <!-- Cecha 4 -->
                    <div class="col-sm-6 feat-list">
                        <i class="pe-7s-users pe-5x pe-va wow fadeInUp animated" data-wow-delay="0.6s"
                           style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"></i>
                        <div class="inner">
                            <h4>Spersonalizowane statystyki</h4>
                            <p>System pokazuje twoje statystyki dotyczące konta i postępów! Możesz dostosować swój plan i
                                efekty.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OPINIE -->
    <div id="testi">
        <div class="container">

            <!-- Tytuł -->
            <div class="text-center">
                <h2 class="wow fadeInLeft">GWARANCJA SATYSFAKCJI</h2>
                <div class="title-line wow fadeInRight"></div>
            </div>

            <!-- Slider (Owl Carusel) -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="owl-testi" class="owl-carousel owl-theme wow fadeInUp">

                        <!-- Opinia 1 -->
                        <div class="testi-item">
                            <div class="client-pic text-center">

                                <!-- Zdjęcie -->
                                <img src="{{ asset('images/testi1.jpg') }}" alt="client">
                            </div>
                            <div class="box">

                                <!-- Treść -->
                                <p class="message text-center">"Jako studentka ciągle w biegu nie raz zapominałam o tym co
                                    miałam zrobić i na kiedy miałam to zrobić. Teraz wreszcie mam wszystkie moje obowiązki
                                    zebrane w jednym miescu i mogę lepiej rozplanować swój czas!"</p>
                            </div>
                            <div class="client-info text-center">

                                <!-- Podpis -->
                                Weronika Bagos, <span class="company">Studentka</span>
                            </div>
                        </div>

                        <!-- Opinia 2 -->
                        <div class="testi-item">
                            <div class="client-pic text-center">

                                <!-- Zdjęcie -->
                                <img src="{{ asset('images/testi2.jpg') }}" alt="client">
                            </div>
                            <div class="box">

                                <!-- Treść -->
                                <p class="message text-center">"W naszej firmie potrzebny był sprawny system, który
                                    umożliwiłby podział obowiązków. Założyliśmy jedno konto w ramach zespołu i każdy dostał
                                    swoją listę. Mogliśmy zobaczyć jak radząsobie inni i jednocześnie wiedzieć na jakim
                                    etapie jest cały projekt."</p>
                            </div>
                            <div class="client-info text-center">

                                <!-- Podpis -->
                                Mikołaj Porenowski, <span class="company">Szef działu</span>
                            </div>
                        </div>

                        <!-- Opinia 3 -->
                        <div class="testi-item">
                            <div class="client-pic text-center">

                                <!-- Zdjęcie -->
                                <img src="{{ asset('images/testi3.jpg') }}" alt="client">
                            </div>
                            <div class="box">

                                <!-- Treść -->
                                <p class="message text-center">"Zawsze trudno było mi znaleźć motywację do działania,
                                    głównie dlatego, że mogłem wszystko przełożyć aż do ostatniej chwili. Teraz z moim
                                    kontem na new.me wiem jak rozłożyć swoje zadania i mam więcej czasu i mniej nerwów."</p>
                            </div>
                            <div class="client-info text-center">

                                <!-- Podpis -->
                                Jarek Darczek, <span class="company">Piosenkarz</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- KONTAKT -->
    <div id="contact">

        <!-- Parallax (przesuwanie obrazu w tle) -->
        <div class="contact fullscreen parallax" style="background-image:url('{{ asset('images/bg.jpg') }}');" data-img-width="2000"
             data-img-height="1334" data-diff="100">
            <div class="overlay">
                <div class="container">
                    <div class="row contact-row">

                        <!-- Dane kontaktowe -->
                        <div class="col-sm-5 contact-left wow fadeInUp">
                            <h2><span class="highlight">Masz</span> pytania?</h2>
                            <ul class="ul-address">
                                <li><i class="pe-7s-map-marker"></i>Wojska Polskiego 92 </br>
                                    41-200 Sosnowiec
                                </li>
                                <li><i class="pe-7s-phone"></i>+48 438 420 600</br>
                                    +48 438 420 700
                                </li>
                                <li><i class="pe-7s-mail"></i><a href="mailto:info@yoursite.com">info@new.me</a></li>
                            </ul>

                        </div>

                        <!-- Formularz kontaktowy -->
                        <div class="col-sm-7 contact-right">
                            <form method="POST" id="contact-form" class="form-horizontal" action="#"
                                  onSubmit="alert( 'Dziękujemy za wiadomość!' );">
                                <div class="form-group">
                                    <input type="text" name="Name" id="Name" class="form-control wow fadeInUp"
                                           placeholder="Imie" required/>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" id="Email" class="form-control wow fadeInUp"
                                           placeholder="Email" required/>
                                </div>
                                <div class="form-group">
                                    <textarea name="Message" rows="20" cols="20" id="Message"
                                              class="form-control input-message wow fadeInUp" placeholder="Wiadomość"
                                              required></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" value="PRZEŚLIJ"
                                           class="btn btn-success wow fadeInUp"/>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- STOPKA -->
    <footer id="footer">
        <div class="container">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright &#9400 NEW.ME 2017
                    <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
                </div>
            </div>
        </div>
    </footer>


    <!-- SKRYPTY -->
    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('js/wow.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>

    {% endblock %}

    <!-- Inicjalizacja animacji (wow.js) -->
    <script>
        new WOW().init();
    </script>

    </body>

</html>