    {# DIV PRZEGLĄD LIST #}
    <div class="col-sm-6">

        {# BOX PRZEGLĄD LIST #}
        <div class="box box-primary box-500">

            {# BOX HEADER #}
            <div class="box-header with-border">
                <h3 class="box-title">Przeglądaj swoje listy</h3>
            </div>

            {# BOX BODY #}
            <div class="box-body mh-415">

                {#  BRAK LIST  #}
                {%  if lists|length == 0 %}

                    <div class="empty-msg">
                        <h3>Brak list!</h3>
                        <p>Kliknij zielony przysk poniżej, żeby stworzyć swoją pierwszą liste.</p>
                        <p> <a href="/add"><button type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i></button></a> </p>
                    </div>

                {% endif %}

                {# WYŚWIETLANIE LIST #}
                {% for list in lists %}

                    <div class="listCat info-box bg-{{ list.color }}" data-id="{{ list.id }}" id="list_{{ list.id }}">
                        <span class="info-box-icon"><i class="fa {{ list.icon }}"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ list.title }}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ list.percent }}%"></div>
                            </div>
                            <span class="progress-description">
<<<<<<< HEAD
                                {{ list.percent }}% ukończone | <a class="text-white" href="deleteList/{{ list.id }}">Usuń</a> | <a class="text-white" href="editList/{{ list.id }}">Edytuj</a>
=======
                                {{ list.percent }}% ukończone | Edytuj
>>>>>>> origin/master
                            </span>
                        </div>
                    </div>

                {% endfor %}

            </div> {# END | BOX BODY #}

            {%  if lists|length != 0 %}

                {# BOX FOOTER #}
                <div class="box-footer">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default"><i class="fa fa-print"></i></button>
                        <button type="button" class="btn btn-default"><i class="fa fa-file-pdf-o"></i></button>
                        <a href="/add"><button type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i></button></a>
                    </div>
                </div> {# END | BOX FOOTER #}

            {% endif %}


        </div> {# END | BOX PRZEGLĄD LIST #}


    </div>